@using TravelBlogProject.Models.Classes
@model List<Iletisim>
@{
    ViewBag.Title = "Mesajlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Mesajlar</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kullanıcı Adı</th>
        <th>Mail</th>
        <th>Konu</th>
        <th>Mesaj</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.AdSoyad</td>
            <td>@x.Mail</td>
            <td>@x.Konu</td>
            <td>@x.Mesaj</td>
        </tr>
    }

</table>
